*{margin: 0;padding:0; }
a{color:#000;text-decoration:none}a:active,a:hover{outline:0}
.clear{clear: both;visibility: hidden;margin: 0;padding: 0}
html,body{font-size: 1em;line-height: 1.2em;}
/* 顶部阴影效果 */
body:before{
    content: "";
    position: fixed;
    top: -1em;
    left: 0;
    width: 100%;
    height: 1em;
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.8);
    z-index: 10;
}
ul{
    display: block;
    list-style: none;
}
.cd-timeline-block h2{
    line-height: 1.2em;
}
/* nav */
#nav{width: 100%;margin: 1em auto;padding: 0;}
#nav ul{display:block;width:100%;list-style:none}
#nav li{width:100%;display:block}
#nav a{color:#000;font-weight:700;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:background .3s ease;-moz-transition:background .3s ease;transition:background .3s ease;text-shadow:0 -1px rgba(0,0,0,.5);border-bottom:1px solid rgba(0,0,0,.2);border-top:1px solid rgba(255,255,255,.1);display:block;padding:.6em 2em;width:100%}
#nav .active a{color:#fff;background:rgba(0,0,0,.6)}
#nav li:first-child a{border-top:0}
#nav li:last-child a{border-bottom:0}
#nav a:hover{background:rgba(0,0,0,.4)}; 
#nav .active a:hover{color:#000;background:rgba(255,255,255,.6)}

div{
    padding: 0.4em;
}
.avatar{
    display: block;
    border-radius:50%;
    width:8em;
    margin:2em auto 0.4em
}

#wrapper{
    min-height: 100%;
    padding: 0;
    width: 100%;    
}
header{
    width: 100%;
    text-align: center;
    background: #333;
    color: #ccc;
}
#contact{
    width: 100%;
    margin: 2em auto 0;
    padding: 0 0.4em;
    position: relative;
    bottom: 0;
    text-align: center;
}
#contact > address{
    display: inline-block;
}

.social-icon{
    width: 24px;
    height:24px;
    margin:2px;
    display: inline;
}
footer .social-icon:hover{
    width: 26px;

}
#sidebar{
    width: 20%;
    min-width: 16em;
    float: left;
    padding-bottom: 0;
}
#topside{
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 6em;
}
#main{
    float: left;
    padding-left: 0.8em;
    min-width: 10em;
    width: 76%;
}
.title{
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    width: 100%;
}
.title img{
    width: 1.2em;
    display: inline;
    vertical-align:middle;
}
.subtitle{
    font-size: 1.2em;
    margin-top: 0.4em;
    display: block;
    font-weight: bold;
    padding: 0.1em auto 0.3em;
    line-height: 1.3em;
}
.box{
    float: left;
    padding: 0.2em;
    width: 33.3%;
    font-style: italic;
    margin-top: 1em;
    text-align: center;
    color: #fff;
    border-right :1px solid #666;
}
.box:nth-child(3n+2){
    border: none;
    background: #D13438;
}
.box:nth-child(3n){
    background: #107C10;
}
.box:nth-child(3n+1){
    background: #0078D7;
}

.projectList{
    list-style-position: outside;
    list-style-type: decimal;
}

.projectTitle{
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: bold;
}

.skillList{
    list-style: none;
}
.skillList li{
    line-height: 3em;
    float: left;
    width: 10em;
    margin-left: 1em;
}
.skillList li:hover{
    float: left;
    width: 10em;
    margin-left: 1.2em;
}
.progress{
    width:10em;
    background-color:#ccc;
    height:2px;
    padding:0;
}
.progress span{
    height:100%;
    background-color:#e33434;
    display:block
}

.rateList li{
    line-height: 1.2em;
}

/*mobile layout*/
@media only screen and (max-width: 480px) {
    #sidebar{
        width: 100%;
        margin: 1em auto;
    }
}
