 <!--#about-->
                <div id="about">
                    <!--#toggle -->
                    <!--<a href="#nav" id="toggle" style="margin:1em;"><img src="images/icon_menu.png" style="width:10%;height:10%" alt="menu"/></a>-->
                    <!--/#toggle -->
                    <!--.title -->
                    <div class="title">
                        About
                    </div>
                    <!--/.title -->
                    <!--.content -->
                    <div class="content">
                         <p>
                            Hello Everyone,My name is Benjamin,you can call me Ben for short. 
                            <br/>
                            Hello Everyone,My name is Benjamin,you can call me Ben for short. 
                            <br/>
                            Hello Everyone,My name is Benjamin,you can call me Ben for short. 
                            <br/>
                            Hello Everyone,My name is Benjamin,you can call me Ben for short. 
                            <br/>
                            Hello Everyone,My name is Benjamin,you can call me Ben for short. 
                            <br/>
                            Hello Everyone,My name is Benjamin,you can call me Ben for short. 
                            <br/>
                            Hello Everyone,My name is Benjamin,you can call me Ben for short. 
                            <br/>
                            Hello Everyone,My name is Benjamin,you can call me Ben for short. 
                            <br/>                        
                        </p>
                    </div>
                    <!--/.content -->
                </div>
                <!--/#about -->