 <!--#about-->
<div id="about">
    <!--#toggle -->
    <!--<a href="#nav" id="toggle" style="margin:1em;"><img src="images/icon_menu.png" style="width:10%;height:10%" alt="menu"/></a>-->
    <!--/#toggle -->
    <!--.title -->
    <div class="title">
        <!--<img src="../images/icon_person.png" alt="person" /> -->
         About
    </div>
    <!--/.title -->
    <!--.content -->
    <div class="content">
        <h4>Summary</h4>
        <p>
            会点前端的ASP.Net程序员，热爱互联网，热爱新技术 <br/>
             熟练使用div+css, javascript,jquery,angularjs<br/>
             做过移动端开发，针对Android和WindowsPhone手机平台的应用
        </p>
        <!--
        <h3 style="line-height:2em">我与微软的不解情缘</h3>
        <p>
            2012年考入我的大学——河南理工大学，也许对别人来说这是一个很<span style="font-weight:bolder;font-style:italic"> low</span> 的大学，但是对我而言，在这所大学里我学到了很多，不仅仅是课堂知识更多的是学会了如何自主学习，如何提升自己。
        </p>
        <p>
            2012年底加入河南理工大学网络工作室,2012年的寒假开始学习html+css。
            2013年开始接触微软相关开发知识，最初学习C#编程语言，之后开始学习ASP.NET和一些基本的SQLServer使用，之后的学习ASP.NET的过程中发现自己对于javascript的认知还太少，所以花时间学习javascript和ajax相关的知识，业余时间看了一些Python的书了解了Python的一些皮毛。
            从2013年7月份开始，网络工作室原来都是搞.NET的程序组开始分组细化了，有了PHP小组和Android小组和.NET小组，另外学校还买了siteserver的授权，设计组的代码懂得多一些的可以借助siteserver自己做一个网站，稍微复杂的网站PHP组也可以和设计组的相结合做，作为.NET小组的一员，我当时觉得.NET小组在我们学校的希望很渺茫几乎用不到了，当时windowsphone作为新出的一个手机操作系统，也许是一个方向又因为windowsphone的开发的编程语言是C#，之前已经学习过，于是就下定决心准备学习windowsohone开发，从此开始走上我的软狗生涯，在2014年7月，经过三周的努力，终于 我们学校的第一版windowsphone新手手册上传到应用商店，可供下载了。暑假里不断想着如何改进，之后又添加了摇一摇随机显示内容功能和自定义主题的功能模块。之后在微软的某个网页上看到关于MSP（Microsoft Student Partner 微软校园精英）的介绍，据当时的介绍开发小组开发windows应用，因为自己暑假刚做了一个windowsphone版的新生手册，心理跃跃欲试，想报名试一试。于是发了一封邮件申请成为MSP。在过了两三个月都杳无音信，我都快忘了这件事，在11月份的一个下午有一个来自北京电话，MSP的电话面试，之后成功的通过了面试。
            从2014年11月份起加入微软MSP（Microsoft Student Partner），2015年10月有幸通过MSP的身份申请参加第一届微软技术大会 IgniteChina，2015年11月底参加上海 “Let's Dev Windows"活动，学习Windows 10应用开发。
        </p>
        -->
    </div>
    <!--/.content -->
</div>
<!--/#about -->