<!--#education -->
<div id="education">
    <!--.title -->
    <div class="title">
        Education
    </div>
    <!--/.title -->
    <!--.content -->
    <div class="content">
        <p>
            <span>学校：河南理工大学</span> <br/>
            <span>专业：电气工程及其自动化</span><br/>
            <span>学历：本科</span><br/>
            <span>时间：2012 - 2016</span>
        </p>
        <br/><br/>
        <span class="subtitle">所获荣誉与奖励</span>
        <p>
            <ul class="rateList">
                <li>
                    计算机等级考试二级C语言程序设计优秀
                </li>
                <li>
                    计算机等级考试三级网络技术合格
                </li>
                <li>
                    通过大学英语四级考试
                </li>
                <li>
                    荣获三等奖学金
                </li>
            </ul>
        </p>
    </div>
    <!--/.content -->
</div>
<!--/#education -->    