 <!--#projects -->
<div id="projects">
    <!--.title -->
    <div class="title">
        Projects
    </div>
    <!--/.title -->
    <!--.content -->
    <div class="content">
        <ul class="projectList">
            <li ng-repeat="proj in projects">
                <div class="projectItem">
                    <div class="projectTitle"><a href="{{proj.projectLink}}" target="_blank" ng-bind="proj.projectTitle"></a></div>
                    <div class="projectDesc">
                        <p ng-bind="proj.projectDescription">
                        </p>                       
                    </div>
                </div>
             </li>
        </ul>
    </div>
    <!--/.content -->
</div>
<!--/#projects -->