<!--#skill -->
<div id="skill">
    <!--.title -->
    <div class="title">
        Skill
    </div>
    <!--/.title -->
    <!--.content -->
    <div class="content">
        <ul class="skillList">
            <li ng-repeat="obj in skills|orderBy :'skillScore':true">
                <span class="subtitle">{{ obj.skillName }}</span> 
                <div class="progress">
                    <span style="width:{{obj.skillScore}}%;"></span>
                </div>
             </li>
        </ul>
    </div>
    <!--/.content -->
</div>
<!--/#skill -->         