<!DOCTYPE html>
<html ng-app="cv">
    <head>
        <meta charset="utf-8">
        <title>WeihanLi's CV</title>
         <meta name="author" content="WeihanLi">
        <meta name="description" content="WeihanLi的个人简历">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!--<script type="text/javascript" src="js/responsive-nav.js"></script>
       <link type="text/css" rel="stylesheet" href="css/responsive-nav.css"/>-->
        <link type="text/css" rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <!-- #warpper -->
        <div id="wrapper" ng-controller="CvCtrl">
            <!--top -->
            <header class="top">
                <h1>WeihanLi </h1>
            </header>
            <!--/top -->
            <!--  #sidebar -->
            <div id="sidebar">
                <!--top section of the sidebar-->
                <div id="topSide">
                    <img src="images/avator.jpg" style="border-radius:50%;width:6em;margin:2em auto 0.4em" alt="avator" /> 
                    <h3 style="text-align:center"> DotNet,Developer,MSP</h3>
                    <div class="box">
                        <span class="subtitle"> 22 </span>
                        <span>Years <br/> Old</span>
                    </div>
                    <div class="box">
                        <span class="subtitle">1+</span>
                        <span>Years Experience</span>
                    </div>
                    <div class="box">
                        <span class="subtitle">10+ </span> 
                        <span>Projects Developed</span>
                    </div>
                    <div class="clear"></div>                     
                </div>
                  <!-- /#topside  -->
                  <!-- #nav -->
                  <div id="nav">
                      <ul>
                          <li ng-class="{'active':isSelected('about')}" ng-click="setItem('about')"><a href="#about">About</a></li>
                          <li ng-class="{'active':isSelected('education')}" ng-click="setItem('education')"><a href="#education">Education</a></li>
                          <li ng-class="{'active':isSelected('skill')}" ng-click="setItem('skill')"><a href="#skill">Skill</a></li>
                          <li ng-class="{'active':isSelected('projects')}" ng-click="setItem('projects')"><a href="#projects">Projects</a></li>
                          <!--<li><a href="#contact">Contact</a></li>-->
                      </ul>
                  </div>
                  <!--/#nav -->
                  <!-- #footer contact info -->
                  <footer id="contact">
                        Phone:<address><a href="tel:13298393395">13298393395</a> </address><br/>
                        Email:<address> <a href="mailto:ben121011@126.com" target="_blank">ben121011@126.com</a> </address><br/>
                        Github:<address><a href="https://github.com/weihanli" target="_blank">https://github.com/weihanli</a> </address> <br/>
                        OsChina:<address><a href="https://git.oschina.net/weihanli" target="_blank">https://git.oschina.net/weihanli</a> </address> <br/>
                  </footer>
                  <!-- /#footer -->
            </div>
             <!-- /#sidebar -->
             <!--#main -->
             <!--<div  id="main" ng-include="'./template/'+item+'.html'">                
            </div>-->
            <!-- /#main main content end -->
        </div>
        <!-- /#wrapper -->
        <script src="js/angular.min.js"></script>
        <script type="text/javascript">
            // var navigation = responsiveNav("#nav", {customToggle: "#toggle"});
            var app = angular.module("cv",[]);
            app.controller("CvCtrl",function($scope){
                    $scope.item = "about";
                    //设置当前项 
                    $scope.setItem = function (item){
                        $scope.item = item;
                    };
                    //
                    $scope.isSelected = function(item){
                        return item == $scope.item;
                    };
            });        
            

        </script>
    </body>
</html>