<!--#about-->
<div id="about">
  <!--.title -->
  <div class="title">
    About
  </div>
  <!--/.title -->
  <!--.content -->
  <div class="content">
    <span class="subtitle">Summary</span>
    <p>
      ASP.NET 全栈工程师，热爱互联网，热爱新技术
      <br/> 熟练使用常用 Web 和 .NET 技术栈，熟练使用 angularjs、bootstrap 和 layer 等前端框架， 熟练使用 git,svn 等代码版本管理工具
      <br/> 熟悉 .net core 有 asp.net core 项目经验以及从 asp.net mvc 迁移到 asp.net core
      <br/> 熟悉 JAVA Web 开发，了解 MyBatis，SpringMvc，Quartz 及 SSH 等常用框架
      <br/> 熟悉单元测试/测试代码覆盖率/持续集成/持续部署/日志异常监控等
      <br/>
      <br/>
      <a style="color:#1818d8" href="https://weihanli.github.io/WeihanLi.Profile/" target="_blank">查看更多资料</a>
    </p>
    <div style="clear:both"></div>
    <span class="subtitle">Activities</span>
    <section id="cd-timeline" class="cd-container">
      <div class="cd-timeline-block" *ngFor="let activity of activities;let odd=odd;let even=even;">
        <div *ngIf="even" class="cd-timeline-img cd-picture">
          <img src="../assets/cd-icon-picture.svg" alt="Picture">
        </div>
        <div *ngIf="odd" class="cd-timeline-img cd-movie">
          <img src="../assets/cd-icon-movie.svg" alt="Picture">
        </div>
        <div class="cd-timeline-content">
          <h2>{{activity.activityTitle}}</h2>
          <p>{{activity.activityDescription}}</p>
          <span class="cd-date">{{activity.activityDate}}</span>
        </div>
      </div>
    </section>
  </div>
  <!--/.content -->
</div>
<!--/#about -->
