<!--The content below is only a placeholder and can be replaced.-->
<!-- #warpper -->
<div id="wrapper">
  <!--top -->
  <!--
      <header class="top">
          <h1>WeihanLi </h1>
      </header>
      -->
  <!--/top -->
  <!--  #sidebar -->
  <div id="sidebar">
    <!--top section of the sidebar-->
    <div id="topSide">
      <img class="avatar" src="../assets/avatar.jpg" alt="avatar" />
      <h4 style="text-align:center">.NET Web Full Stack Engineer</h4>
      <div class="box">
        <span class="subtitle">{{currentYear - 1994}}</span>
        <span>Years
          <br/> Old</span>
      </div>
      <div class="box">
        <span class="subtitle">{{currentYear - 2015}}</span>
        <span>Years
          <br/> Experience</span>
      </div>
      <div class="box">
        <span class="subtitle">20 + </span>
        <span>Projects
          <br/> Developed</span>
      </div>
      <div class="clear"></div>
    </div>
    <!-- /#topside  -->
    <!-- #nav -->
    <div id="nav">
      <ul>
        <li *ngFor="let item of navLinks" [ngClass]="{'active':current === item.title}" (click)="setItem(item.title)">
          <a [routerLink]="item.title" routerLinkActive="active">{{item.desc}}</a>
        </li>
      </ul>
    </div>
    <!--/#nav -->
    <!-- #footer contact info -->
    <footer id="contact">
      <address *ngFor="let item of socialLinks">
        <a href="{{item.linkUrl}}" target="_blank">
          <img class="social-icon" src="{{item.iconPath}}" alt="{{item.title}}" />
        </a>
      </address>
    </footer>
    <!-- /#footer -->
  </div>
  <!-- /#sidebar -->
  <!--#main -->
  <div id="main">
      <router-outlet></router-outlet>
  </div>
  <!-- /#main main content end -->
</div>
<!-- /#wrapper -->
